.header {
    width: 100%;
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido horizontalmente */
    display: flex;
    justify-content: center;
    padding: 20px;
}